<div class='bounty-container'>
    <div class='image-container'>
        <img src='~/images/placeholder_200x200.jpg' alt=""></img>
    </div>
    <div class='reward'>
        <p>500,000</p>
    </div>
    <div class='description'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>