html {
    position: relative;
    min-height: 100%;
    margin: 0;
    font-size: 14px;
}

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    /*margin-bottom: 60px;*/ /*I commented this out becuase of margin bottom on index page, may affect other pages.*/
}

.top-container {
    position: relative;
    text-align: center;
    width: 100%;
    height: 980px;
    margin-top: -140px;
}

.top-container-img {
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    z-index: -10;
    width: 100%;
}

.quote-container {
    position: absolute;
    width: 80%;
    top: 86%;
    left: 10%;
}

p.quote {
    font-style: italic;
    font-size: 15pt;
    margin-bottom: 15px;
}

p.quote-cite {
    font-size: 16pt;
    margin: 0;
}

/* Home */
/*===============News===============*/

#top-news {
    height: 500px;
    background-color: white;
    margin: 0;
}

.row {
    margin: 0;
    padding: 5px;
}

    .column {
        background-color: red;
        height: 480px;
        width: 450px;
        margin: 5px 10px 5px 10px;
        float: left;
    }

        .col-title {
            font-size: 26pt;
            font-weight: 700;
            padding: 10px 0 10px 0;
        }

        .col-img {
            width: 400px;
            height: 280px;
        }

        .col-text {
            font-size: 16pt;
            padding: 0 10px 0 10px;
        }

/*===============Enlist===============*/

#enlist {
    display: flex;
    flex-direction: row;
    max-height: 1900px;
}

/* .enlist-col {
    float: left;
} */

.enlist-img {
    height: 100%;
    width: auto;
}

.enlist-img-right {
    width: 539px;
    height: 809px;
}

.enlist-left {
    float: left;
}

.enlist-center {
    float: left;
    flex: 30%;
    overflow: hidden;
}

.enlist-right {
    float: right;
}

.enlist-content {
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(71, 71, 71);
    height: 100%;
}

.label-enlist {
    padding: 10px;
    font-size: 20pt;
}

.input-enlist {
    float: right;
    width: 320px;
    height: 20px;
    margin-right: 30px;
}

/*===============Report===============*/

#report {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
    border-top: 8px solid black;
}

.report-left, .report-center-img {
    float: left;
}

.report-left {
    flex: 20%;
}

.report-center-img {
    width: 600px;
}

.report-center-content {
    flex: 20%;
    background-color: rgb(34, 34, 34);
    padding: 200px 30px 30px 30px;
    border-width: 0 4px 0 4px;
    border-style: solid;
    border-color: black;
}

.report-right {
    flex: 20%;
    float: right;
}

.report-img {
    height: 750px;
}

.sedition-img {
    float: left;
    height: 100%;
}

.report-text, .enlist-text {
    font-size: 20pt;
}

.button {
    font-size: 30pt;
    padding: 10px;
    border: 4px solid rgb(90, 90, 90);
    border-radius: 20px;
    background-color: rgb(246, 246, 246);
}

    .button:hover {
        background-color: rgb(255, 81, 0);
        cursor: pointer;
    }

/*HEADER*/

#navbar-container {
    height: 100px;
    width: 100%;
    font-family: Arial;
    font-size: 20pt;
    position: absolute;
    z-index: 10;
    top: 0;
    background: transparent;
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 10px;
    top: 5px;
    border-bottom: 1px solid white;
    height: 91px;
}

a {
    padding-right: 18px;
    padding-left: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.dropbtn {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    font-family: Arial;
    font-size: 20pt;
}

.dropdown-content {
    display: none;
    float: left;
    position: absolute;
    width: 1000px;
    right: -470px;
    padding-top: 150px;
}

    .dropdown-content-wrap {
        top: 70px;
        padding: 6px;
        background-color: rgba(0,0,0,0.75);
    }

a:hover, .dropbtn:hover {
    text-shadow: 5px black;
    box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,0.7);
    /* background-image: linear-gradient(to right, rgba(255,255,255,0),
        rgba(255,255,255,0.5),rgba(255,255,255,0)); */
}

a:hover {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: flex;
    align-items: center;
    /* background-color: rgba(255,255,255,0.7); */
    padding-top: 25px;
    margin-top: 0;
}

/*FOOTER*/

#footer-container {
    /*height: 220px;*/
    width: 100%;
    font-family: Arial;
    font-size: 14pt;
    /*position: absolute;*/
    z-index: 10;
    margin: 0;
    bottom: 0;
    background-color: rgb(34, 34, 34);
    /*border-top: 10px solid black;*/
    line-height: 1.5;
    white-space: nowrap;
}

.nav-footer {
    margin: 40px 20px 40px;
    font-size: 12pt;
    display: inline-block;
    opacity: 0.5;
}

    .nav-footer a:hover{
        padding: 5px 18px;
    }

.project-notes {
    padding: 0 20px 40px 20px;
    font-size: 14pt;
    text-align: center;
    width: 80%;
    word-wrap: break-word;
    text-wrap: wrap;
    font-style: italic;
    margin: 0 auto;
}

/* Military */
/*html {
    margin: 0;
    scroll-behavior: smooth;
}

body {*/
    /* background-color: rgb(71, 71, 71); */
    /*background-color: rgb(34, 34, 34);
    color: white;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}*/

#header-section {
    color: white;
    /* margin-top: 160px; */
    padding: 100px 0 20px 0;
    background-color: rgb(71, 71, 71);
}

#buttons-section {
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: rgba(39, 39, 39, 0.7);
}

.button {
    font-size: 16pt;
    padding: 10px 20px 10px 20px;
    border: 4px solid rgb(90, 90, 90);
    border-radius: 20px;
    color: black;
    background-color: rgb(246, 246, 246);
    font-family: Arial, Helvetica, sans-serif;
}

    .button:hover, .active {
        background-color: rgb(255, 81, 0);
    }

    .button:hover {
        cursor: pointer;
    }

.occupation-container {
}

.section {
}

/* .top-section, .army_navy-section, .army_navy_intelligence-section, .stormtrooper-section, .special-section {
        opacity: 0;
    } */

.active {
    /*opacity: 100;*/
}

.occ-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.occ-title-single {
    display: flex;
    justify-content: center;
    flex-direction: column
}

    .occ-title h1, .occ-title-single h1 {
        margin: 0 300px 0 300px;
        font-size: 30pt;
        font-weight: 800;
    }

    .occ-title-single h2 {
        margin: 0;
        font-size: 20pt;
    }

.occ-bodies {
    display: flex;
    float: center;
}

.occ-body {
    display: flex;
    height: 600px;
    width: 860px;
    background-color: rgb(71, 71, 71);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    overflow: hidden;
}

.occ-image {
    height: 600px;
    width: 460px;
    overflow: hidden;
    border-right: 6px solid rgba(0, 0, 0, 0.7);
}

    .occ-image img {
        height: 600px;
        width: 460px;
    }

.occ-text {
    width: 400px;
    padding: 40px;
}

    .occ-text table {
        height: 100px;
        background-color: rgb(136, 136, 136);
        border-spacing: 3px;
        border-collapse: separate;
    }

        .occ-text table td {
            width: 40px;
        }

        .occ-text table .img img {
            width: 98px;
            height: 94px;
        }

        .occ-text table .empty {
            background-color: black;
        }

        .occ-text table .blue {
            background-color: blue;
        }

        .occ-text table .red {
            background-color: red;
        }

        .occ-text table .yellow {
            background-color: yellow;
        }

        .occ-text table .gray {
            background-color: rgb(65, 65, 65);
        }

        .occ-text table .silver {
            background-color: silver;
        }

    .occ-text h1 {
        font-size: 30pt;
        text-decoration: underline;
    }

    .occ-text p {
        font-size: 20pt;
    }

.horizontal-line {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid white;
}

/* Galactic Network */



/* Law & Order */
#bounty-board {
    display: grid;
    margin-left: 100px;
    margin-right: auto;
    grid-template-columns: repeat(7, 200px);
    column-gap: 50px;
    row-gap: 50px;
    justify-items: center; /* centers the grid */
}

.bounty-container {
    margin: 0;
    height: 400px;
    width: 200px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.image-container {
    margin: 0;
}

.reward {
    background-color: grey;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.description {
    justify-content: center;
    color: black;
}