@model IEnumerable<TheImperialHoloweb.Models.LawOrder.Bounty>

<div id='header-section'>
    <h1 class='imp-header'>Bounty Board</h1>
    <p class='imp-header-text'>Listed below are all bounties on criminals, traitors, and rebel terrorists. Turn them 
        into the Imperial authorities and the Empire will reward you greatly!</p>
</div>

<div id='bounty-board'>
    @*Bounty partial views here*@
    @foreach (var bounty in Model)
    {
        @Html.Partial("PartialViews/_Bounty", bounty)
    }
</div>